/* styles-sombre.css */
.root {
    -fx-couleur-fond:                       #613D68;   /* */
    -fx-couleur-fond2:                      #895793;   /* */
    -fx-couleur-fond-marron:                #b85839;   /* */
    -fx-couleur-fond-marron2:               #c1694d;   /* */
    -fx-couleur-bouton-violet:              #7f2148;   /* */
    -fx-couleur-jeu:                        #1f2937;   /* */
    -fx-couleur-jeu-valider:                #13525B;   /* */
    -fx-couleurjeu-bouton-texte:            #162d46;   /* */
    -fx-couleur-texte:                      #fbe3ad;   /* */
    -fx-couleur-bordure:                    #000000;   /* */
    -fx-couleur-blanc-pur:                  #FFFFFF;   /* */
    -fx-couleur-gris-fonce-jeu:             #142C45;   /* */
    -fx-couleur-jeu-bouton:                 #EFAB34;   /* */
    -fx-couleur-selection-pour-bouger:      #FFD700;   /* */
    -fx-couleur-tour-joueur-rouge:          #EA5253;   /* */
    -fx-couleur-bordure-tour-joueur-rouge:  #F34E47;   /* */
    -fx-couleur-tour-joueur-bleu:           #4A93C8;   /* */
    -fx-couleur-bordure-tour-joueur-bleu:   #559DD1;   /* */
    -fx-couleur-case-changement:            #90EE90;   /* */
    -fx-couleur-bordure-case-changement:    #32CD32;   /* */
    -fx-couleur-bouton-annuler:             #FF6B6B;   /* */
    -fx-couleur-bouton-annuler-hover:       #FF2222;   /* */
}

.main-container-selectionModeJeu, .main-container-pause, .stackPaneParametrePartie, .main-container-Menu {
    -fx-background-color: -fx-couleur-fond;
}

.anchor-pane-menu, .anchor-pane-selectionModeJeu, .anchor-pane-pause, .AnchorPaneParametrePartie {
    -fx-background-color: -fx-couleur-fond;
}

/* Rectangles de fond */
.background-rectangle-outer-selectionModeJeu, .rectangleTitreParametrePartie  {
    -fx-fill: -fx-couleur-fond2;
    -fx-stroke: -fx-couleur-bordure;
    -fx-stroke-type: inside;
}

.background-rectangle-inner-selectionModeJeu, .rectangleArriere-PlanBoutonsParametrePartie {
    -fx-fill: -fx-couleur-fond-marron;
    -fx-stroke: -fx-couleur-bordure;
    -fx-stroke-type: inside;
}

.title-background-selectionModeJeu {
    -fx-fill: -fx-couleur-fond-marron2;
    -fx-stroke: -fx-couleur-bordure;
    -fx-stroke-type: inside;
    -fx-stroke-width: 2;
}

/* Boutons */
.bouton-parametre-selectionModeJeu, .fondBoutonParametrePartie, .boutonCommentJouerMenu  {
    -fx-background-color: -fx-couleur-bouton-violet;
    -fx-border-color: -fx-couleur-bordure;
    -fx-border-width: 2;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-text-fill: -fx-couleur-texte;
    -fx-font-size: 28px;
}

.bouton-retour-selectionModeJeu, .boutonRetourArriereParametrePartie {
    -fx-background-color: -fx-couleur-fond-marron2;
    -fx-background-radius: 20;
    -fx-border-color: -fx-couleur-bordure;
    -fx-border-radius: 20;
    -fx-text-fill: -fx-couleur-texte;
    -fx-font-size: 37px;
}

.bouton-mode-jeu-selectionModeJeu {
    -fx-background-color: -fx-couleur-jeu-valider;
    -fx-border-color: -fx-couleur-bordure;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: -fx-couleur-texte;
    -fx-font-size: 24px;
}

/* Texte */
.titre-principal-selectionModeJeu {
    -fx-fill: -fx-couleur-texte;
    -fx-stroke-type: outside;
    -fx-stroke-width: 0;
    -fx-font-size: 32px;
}

.bouton-demarrer-pause, .boutonCommencerAJouerMenu {
   -fx-background-color: -fx-couleur-fond-marron; 
   -fx-border-radius: 3;
   -fx-text-fill: -fx-couleur-texte;
}

.rectangle-principal-pause{
    -fx-fill: -fx-couleur-fond2;
    -fx-stroke: -fx-couleur-bordure;
    -fx-stroke-type: inside;
}

.rectangle-titre-pause{
    -fx-fill: -fx-couleur-bouton-violet;
    -fx-stroke: -fx-couleur-bordure;
    -fx-stroke-type: inside;
}

.texteThemeParametrePartie, .texteCouleurDesCasesParametrePartie, .texteFormeCaseParametrePartie, .texteTailleTexteParametrePartie, .texteParametrePartie, .labelJeuDuQuinzeMenu {
   -fx-fill: -fx-couleur-texte;
   -fx-text-fill: -fx-couleur-texte;
}

.rectangle-boutons-pause{
    -fx-fill: -fx-couleur-fond-marron;
    -fx-stroke: -fx-couleur-bordure;
    -fx-stroke-type: inside;
}

.bouton-continuer-pause, .bouton-quitter-pause, .bouton-comment-jouer-pause, .bouton-parametre-pause, .bouton-nouvelle-partie-pause, .bouton-sauvegarder-pause {
   -fx-background-color: -fx-couleur-fond-marron2;
   -fx-border-color: -fx-couleur-bordure;
   -fx-border-radius: 10;
   -fx-background-radius: 10;
   -fx-text-fill: -fx-couleur-texte;
}

.rectangleFondJeuParametrePartie, .fondBoutonCaracteristiquesParametrePartie, .fondBoutonFondParametrePartie, .fondBoutonFormeParametrePartie, .fondBoutonChangerEmplacementStockageParametrePartie {
    -fx-fill: -fx-couleur-fond-marron2;
    -fx-stroke: -fx-couleur-bordure;
    -fx-stroke-type: inside;
}

.fondBoutonParametrePartie {
    -fx-fill: -fx-couleur-bouton-violet;
    -fx-stroke: -fx-couleur-bordure;
    -fx-stroke-type: inside;
}

.titre-menu-pause {
    -fx-fill: -fx-couleur-texte;
}

.bouton1JeuFacticeMenu, .bouton2JeuFacticeMenu, .bouton3JeuFacticeMenu, 
.bouton4JeuFacticeMenu, .bouton5JeuFacticeMenu, .bouton6JeuFacticeMenu,
.bouton7JeuFacticeMenu, .bouton8JeuFacticeMenu, .bouton9JeuFacticeMenu {
    -fx-background-color: -fx-couleur-jeu-bouton;
    -fx-text-fill: -fx-couleurjeu-bouton-texte;
    -fx-border-color: -fx-couleur-bordure;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.rectangleFondJeuMenu {
    -fx-background-radius: 20;
    -fx-fill: -fx-couleur-gris-fonce-jeu;
    -fx-border-width: 2;
    -fx-border-radius: 20;
}

.boutonCommencerAJouerMenu {
    -fx-background-color: -fx-couleur-fond-marron;
    -fx-background-radius: 15;
    -fx-border-color: -fx-couleur-bordure;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-text-fill: -fx-couleur-texte;
    -fx-font-size: 34px;
}

.main-container-jeu {
    -fx-background-color: -fx-couleur-fond;
}

.game-board-jeu {
    -fx-fill: -fx-couleurjeu-bouton-texte;
    -fx-stroke: BLACK;
}

.game-button-jeu {
    -fx-background-color: -fx-couleur-jeu-bouton;
    -fx-background-radius: 10;
    -fx-text-fill: -fx-couleurjeu-bouton-texte;
}

.player-label-jeu {
    -fx-text-fill: -fx-couleur-texte;
}

.score-label-jeu {
    -fx-text-fill: -fx-couleur-texte;
}

.score-value-jeu {
    -fx-text-fill: -fx-couleur-texte;
}

.menu-button-jeu {
    -fx-background-color: -fx-couleur-bouton-violet;
    -fx-border-color: -fx-couleur-bordure;
    -fx-border-width: 2;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-text-fill: -fx-couleur-texte;
}

.validate-button-jeu {
    -fx-background-color: -fx-couleur-jeu-valider;
    -fx-border-color: -fx-couleur-bordure;
    -fx-border-radius: 3;
    -fx-text-fill: -fx-couleur-texte;
}

.start-button-jeu {
    -fx-background-color: -fx-couleur-fond-marron;
    -fx-border-radius: 3;
    -fx-text-fill: -fx-couleur-texte;
}

.game-button-jeu.selected-joueur1 {
    -fx-border-color: -fx-couleur-bordure-tour-joueur-rouge;
    -fx-border-width: 4;
    -fx-border-radius: 10;
}

.game-button-jeu.selected-joueur2 {
    -fx-border-color: -fx-couleur-bordure-tour-joueur-bleu;
    -fx-border-width: 4;
    -fx-border-radius: 10;
}

.game-button-jeu.validated-joueur1 {
    -fx-background-color: -fx-couleur-tour-joueur-rouge;
    -fx-text-fill: white;
}

.game-button-jeu.validated-joueur2 {
    -fx-background-color: -fx-couleur-tour-joueur-bleu;
    -fx-text-fill: white;
}

.selectionne-pour-bouger {
    -fx-background-color: -fx-couleur-selection-pour-bouger !important;
    -fx-border-width: 3px !important;
}

/* déplacements */
.disponible-pour-bouger {
    -fx-background-color: -fx-couleur-case-changement !important;
    -fx-border-color: -fx-couleur-bordure-case-changement !important;
    -fx-border-width: 2px !important;
}

.instructions-label-jeu {
    -fx-text-fill: -fx-couleur-blanc-pur;
    -fx-font-weight: bold;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}

/* bouton annuler */
.cancel-button-jeu {
    -fx-background-color: -fx-couleur-bouton-annuler;
    -fx-text-fill: -fx-couleur-blanc-pur;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.cancel-button-jeu:hover {
    -fx-background-color: -fx-couleur-bouton-annuler-hover;
}


